Notes/.vs/Notes/CopilotIndices/17.13.444.19527/CodeChunks.db
Notes/.vs/Notes/CopilotIndices/17.13.444.19527/SemanticSymbols.db
Notes/.vs/Notes/v17/DocumentLayout.backup.json
Notes/.vs/ProjectEvaluation/notes.metadata.v9.bin
Notes/.vs/Notes/v17/DocumentLayout.backup.json
Notes/.vs/ProjectEvaluation/notes.strings.v9.bin
