@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject DarkModeSwitchStateContainer DarkModeSwitchStateContainer
@inject UserManager<User> UserManager

@page "/"
@page "/home"


<div id="DivTemp">
    <h3>Collaborative Note</h3>

    @if (currentUser != null)
    {
        <MudText>Hello @currentUser.UserName!</MudText>
    }

    <RichTextEditor isDarkModeOn="DarkModeSwitchStateContainer.GetDarkMode()" Content="@Content" ContentChanged="OnContentChanged"></RichTextEditor>

    @foreach (KeyValuePair<string, (int cursorX, int cursorY)> cursor in OtherUserCursors)
    {
        <MudAvatar Color="Color.Primary" Style="@($"position: absolute; top: {cursor.Value.cursorY}px; left: {cursor.Value.cursorX}px;")">M</MudAvatar>
    }
</div>

<button @onclick="CheckCookies">Check cookies</button>



@code {
    [Inject] IJSRuntime JS { get; set; }
    [Parameter] public string NoteId { get; set; } = "1";

    private HubConnection hubConnection;
    private string Content = string.Empty;
    private string userId = Guid.NewGuid().ToString();
    private Dictionary<string, (int cursorX, int cursorY)> OtherUserCursors = new();

    private User? currentUser = null;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            // You can access claims like email or name
            var email = user.FindFirst(c => c.Type == ClaimTypes.Email)?.Value;

            // Or fetch full IdentityUser from the database
            currentUser = await UserManager.FindByEmailAsync(email);
        }
    }

    private async Task CheckCookies()
    {
        await JS.InvokeVoidAsync("console.log", "Checking cookies...");
        await JS.InvokeVoidAsync("eval", "console.log(document.cookie)");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var lDotNetReference = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("setDotnetReference", lDotNetReference);

            await JS.InvokeVoidAsync("console.log", "All cookies: " + await JS.InvokeAsync<string>("eval", "document.cookie"));


            hubConnection = new HubConnectionBuilder().WithUrl(Navigation.ToAbsoluteUri("/noteshub")).WithAutomaticReconnect().Build();


            hubConnection.On<string, string>("ReceiveContentUpdate", async (newContent, senderId) =>
            {
                if (senderId == userId)
                    return;

                Content = newContent;
                await InvokeAsync(StateHasChanged);
            });

            hubConnection.On<string, int, int>("ReceiveCursorUpdate", async (otherUserId, positionX, positionY) =>
            {
                OtherUserCursors[otherUserId] = (positionX, positionY);
                await InvokeAsync(StateHasChanged);
            });


            await hubConnection.StartAsync();
            await hubConnection.SendAsync("JoinNote", NoteId);

            DarkModeSwitchStateContainer.OnDarkModeChanged += async () => await InvokeAsync(StateHasChanged);
        }

        base.OnAfterRender(firstRender);
    }

    private async Task OnContentChanged(string content)
    {
        Content = content;
        await hubConnection.SendAsync("UpdateContent", NoteId, content, userId);
    }

    [JSInvokable]
    public async Task OnCursorMoved(int cursorX, int sursorY)
    {
        if (hubConnection == null)
        {
            return;
        }

        await hubConnection.SendAsync("UpdateCursor", NoteId, userId, cursorX, sursorY);
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("LeaveNote", NoteId);
            await hubConnection.DisposeAsync();
        }
    }

}